
body {
    font-family: Arial, sans-serif;
    background: #f8ff9d;
}

header {
    padding: 20px;
    background: #111;
    color: rgb(255, 233, 105);
    text-align: center;
}

main {
    padding: 40px;
}

.contenedor h1 {
    text-align: center;
    color: #8d7222;
}
