
body {
    font-family: Arial, sans-serif;
    background: #d0eb6c;
}

header {
    padding: 20px;
    background: #111;
    color: rgb(255, 233, 105);
    text-align: center;
}

main {
    padding: 40px;
}
.contenedor {
    background-color: rgb(199, 179, 118);
    padding: 20px;
    border-radius: 10px;
}
.contenedor h1 {
    text-align: center;
    color: #8d7222;
}
