
body {
    font-family: Arial, sans-serif;
    background: #d7b684da;
}

header {
    padding: 20px;
    background: #111;
    color: rgb(220, 208, 146);
    text-align: center;
}

main {
    padding: 40px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
}

.contenedor h1 {
    text-align: center;
    color: #ccb779;
    font-family: italic;
    text-align: center;
}

.contenedor h2 {
    text-align: center;
    color: #8d7e51;
    font-family: Arial;
    text-align: center;
}

.contenedor p {
    text-align: center;
    color: #7a6e4b;
    font-family: Arial;
    text-align: center;
}
.contenedor select {
    display: block;
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}